<div class="control-popup modal fade" id="authorize-slack" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Slack workspace</h4>
            </div>
            <div class="modal-body">
                <p>You will be redirected to slack.com to authorise this website to add the 'Bot' to your team.</p>
                <p>You will need to be logged in to a Slack team that you have permission to authorise bots.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-request="onAuthorizeSlack" >Add to Slack</button>
            </div>
        </div>
    </div>
</div>
